<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form method="POST" action="/register/add">
      <input type="text" id="first_name" class="fadeIn second" name="first_name" placeholder="First Name">
      <input type="text" id="last_name" class="fadeIn second" name="last_name" placeholder="Last Name">
      <input type="text" id="user_name" class="fadeIn second" name="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

  </div>
</div>